numpy==1.24.2
pandas==1.5.3
matplotlib==3.7.0
matplotlib-base
matplotlib-inline
scipy==1.10.1
ipywidgets==8.0.4
ipython==8.10.0
ipython-genutils==0.2.0
voila==0.4.0
notebook==6.5.2
notebook-shim==0.2.2
